.box {
  display: flex;
}

.pColumn {
  display: flex;
  flex-direction: column;
  max-width: 10%;
  margin: 20px;
}
.gpColumn {
  display: flex;
  flex-direction: column;
  max-width: 10%;
  margin: 20px;
}

.u {
  display: flex;
  flex-direction: column;
  max-width: 10%;
  margin: 20px;
}

.temperature {
  display: flex;
  flex-direction: column;
  max-width: 10%;
  margin: 20px;
}

.gpStart {
  display: flex;
  flex-direction: column;
  max-width: 10%;
  margin: 20px;
}

.p {
  width: 20px;
  height: 20px;
  background-color: red;
}
.wyniki {
  margin: 10px;
}

.slope,
.intercept {
  /* min-height: 100px; */
  margin: 15px;
}
